@infoColor:#17a2b8;
@primaryColor: #007bff;
@secondColor: #6c757d;
@warningColor: #ffc107;
@alertColor: #dc3545;
@successColor:#28a745;
@darkColor:#343a40;
@lightColor:#fff;

.bg-info {
    background-color: @infoColor;
}

.bg-primary{
    background-color: @primaryColor;
}

.bg-second{
    background-color: @secondColor;
}


.bg-warning{
    background-color: @warningColor;
}

.bg-alert{
    background-color: @alertColor;
}

.bg-success{
    background-color: @successColor;
}

.bg-dark{
    background-color: @darkColor;
}

.text-dark{
    color: @darkColor;
}

.text-white{
    color: @lightColor;
}

.text-secondary{
    color: @secondColor;
}

.spinner{
    font-size: 40px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.primary-btn{
    width:50%;
    height: 25px;
}
.show-scroll-y{
    max-height: 94%;
    overflow-y:auto;
}

.home-page-container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.home-page-content{
    font-size: 25px;
    flex: 1 1 auto;
}

.home-page-footer{
    flex: 0 0 auto;
    height: 40px;
}

.footer-root{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    font-size: 18px;
    color:@lightColor;
    text-align: center;
}

.footer-left{
    flex:0 0 auto;
    width: 50%;
    padding-top: 10px
}

.footer-right{
    flex: 0 0 auto;
    width: 50%;
    padding-top: 10px
}

.search-bar{
    width:99%;
    height: 60px;
    border-radius: .25rem;
    border:1px solid;
    border-color: @darkColor;
    color: @secondColor;
    font-size: large;
}

.btn{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-weight: 400;
    cursor: pointer;
    font-family: inherit;
    margin: 2;
}
.search-btn{
    width: 99%;
    height: 40px;
    font-size: large;
    .text-white;
    .btn;
}

.get-lib-btn{
    
    width: 99%;
    height: 40px;
    font-size: large;
    .text-white;
    .btn;
}

.content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    .text-dark;
}
